In [1]:
import pandas as pd

file_path = r"F:\SQL\ICRISAT_Dataset.csv"
df = pd.read_csv(file_path)

In [2]:
display(df.head())

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,548.0,185.0,337.59,44.0,20.0,...,1777.78,0.0,0.0,0.0,5.95,6.64,12.59,0.01,0.60,0.47
1,1,1967,14,Chhattisgarh,Durg,547.0,409.0,747.71,50.0,26.0,...,1500.00,0.0,0.0,0.0,5.77,7.24,13.02,0.01,0.56,1.23
2,1,1968,14,Chhattisgarh,Durg,556.3,468.0,841.27,53.7,30.0,...,1000.00,0.0,0.0,0.0,5.41,7.40,12.81,0.10,0.58,1.02
3,1,1969,14,Chhattisgarh,Durg,563.4,400.8,711.40,49.4,26.5,...,1900.00,0.0,0.0,0.0,5.52,7.16,12.69,0.01,0.56,0.84
4,1,1970,14,Chhattisgarh,Durg,571.6,473.6,828.55,44.2,29.0,...,2000.00,0.0,0.0,0.0,5.45,7.19,12.64,0.02,0.52,0.42

In [3]:
# Standardize column names
df.columns = df.columns.str.strip().str.upper().str.replace(" ", "_")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16146 entries, 0 to 16145
Data columns (total 80 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   DIST_CODE                                    16146 non-null  int64
 1   YEAR                                         16146 non-null  int64
 2   STATE_CODE                                   16146 non-null  int64
 3   STATE_NAME                                   16146 non-null  object
 4   DIST_NAME                                    16146 non-null  object
 5   RICE_AREA_(1000_HA)                          16146 non-null  float64
 6   RICE_PRODUCTION_(1000_TONS)                  16146 non-null  float64
 7   RICE_YIELD_(KG_PER_HA)                       16146 non-null  float64
 8   WHEAT_AREA_(1000_HA)                         16146 non-null  float64
 9   WHEAT_PRODUCTION_(1000_TONS)                 16146 non-null  float64
 10  WHEAT_YIELD_(KG_PER_HA)                      16146 non-null  float64
 11  KHARIF_SORGHUM_AREA_(1000_HA)                16146 non-null  float64
 12  KHARIF_SORGHUM_PRODUCTION_(1000_TONS)        16146 non-null  float64
 13  KHARIF_SORGHUM_YIELD_(KG_PER_HA)             16146 non-null  float64
 14  RABI_SORGHUM_AREA_(1000_HA)                  16146 non-null  float64
 15  RABI_SORGHUM_PRODUCTION_(1000_TONS)          16146 non-null  float64
 16  RABI_SORGHUM_YIELD_(KG_PER_HA)               16146 non-null  float64
 17  SORGHUM_AREA_(1000_HA)                       16146 non-null  float64
 18  SORGHUM_PRODUCTION_(1000_TONS)               16146 non-null  float64
 19  SORGHUM_YIELD_(KG_PER_HA)                    16146 non-null  float64
 20  PEARL_MILLET_AREA_(1000_HA)                  16146 non-null  float64
 21  PEARL_MILLET_PRODUCTION_(1000_TONS)          16146 non-null  float64
 22  PEARL_MILLET_YIELD_(KG_PER_HA)               16146 non-null  float64
 23  MAIZE_AREA_(1000_HA)                         16146 non-null  float64
 24  MAIZE_PRODUCTION_(1000_TONS)                 16146 non-null  float64
 25  MAIZE_YIELD_(KG_PER_HA)                      16146 non-null  float64
 26  FINGER_MILLET_AREA_(1000_HA)                 16146 non-null  float64
 27  FINGER_MILLET_PRODUCTION_(1000_TONS)         16146 non-null  float64
 28  FINGER_MILLET_YIELD_(KG_PER_HA)              16146 non-null  float64
 29  BARLEY_AREA_(1000_HA)                        16146 non-null  float64
 30  BARLEY_PRODUCTION_(1000_TONS)                16146 non-null  float64
 31  BARLEY_YIELD_(KG_PER_HA)                     16146 non-null  float64
 32  CHICKPEA_AREA_(1000_HA)                      16146 non-null  float64
 33  CHICKPEA_PRODUCTION_(1000_TONS)              16146 non-null  float64
 34  CHICKPEA_YIELD_(KG_PER_HA)                   16146 non-null  float64
 35  PIGEONPEA_AREA_(1000_HA)                     16146 non-null  float64
 36  PIGEONPEA_PRODUCTION_(1000_TONS)             16146 non-null  float64
 37  PIGEONPEA_YIELD_(KG_PER_HA)                  16146 non-null  float64
 38  MINOR_PULSES_AREA_(1000_HA)                  16146 non-null  float64
 39  MINOR_PULSES_PRODUCTION_(1000_TONS)          16146 non-null  float64
 40  MINOR_PULSES_YIELD_(KG_PER_HA)               16146 non-null  float64
 41  GROUNDNUT_AREA_(1000_HA)                     16146 non-null  float64
 42  GROUNDNUT_PRODUCTION_(1000_TONS)             16146 non-null  float64
 43  GROUNDNUT_YIELD_(KG_PER_HA)                  16146 non-null  float64
 44  SESAMUM_AREA_(1000_HA)                       16146 non-null  float64
 45  SESAMUM_PRODUCTION_(1000_TONS)               16146 non-null  float64
 46  SESAMUM_YIELD_(KG_PER_HA)                    16146 non-null  float64
 47  RAPESEED_AND_MUSTARD_AREA_(1000_HA)          16146 non-null  float64
 48  RAPESEED_AND_MUSTARD_PRODUCTION_(1000_TONS)  16146 non-null  float64
 49  RAPESEED_AND_MUSTARD_YIELD_(KG_PER_HA)       16146 non-null  float64
 50  SAFFLOWER_AREA_(1000_HA)                     16146 non-null  float64
 51  SAFFLOWER_PRODUCTION_(1000_TONS)             16146 non-null  float64
 52  SAFFLOWER_YIELD_(KG_PER_HA)                  16146 non-null  float64
 53  CASTOR_AREA_(1000_HA)                        16146 non-null  float64
 54  CASTOR_PRODUCTION_(1000_TONS)                16146 non-null  float64
 55  CASTOR_YIELD_(KG_PER_HA)                     16146 non-null  float64
 56  LINSEED_AREA_(1000_HA)                       16146 non-null  float64
 57  LINSEED_PRODUCTION_(1000_TONS)               16146 non-null  float64
 58  LINSEED_YIELD_(KG_PER_HA)                    16146 non-null  float64
 59  SUNFLOWER_AREA_(1000_HA)                     16146 non-null  float64
 60  SUNFLOWER_PRODUCTION_(1000_TONS)             16146 non-null  float64
 61  SUNFLOWER_YIELD_(KG_PER_HA)                  16146 non-null  float64
 62  SOYABEAN_AREA_(1000_HA)                      16146 non-null  float64
 63  SOYABEAN_PRODUCTION_(1000_TONS)              16146 non-null  float64
 64  SOYABEAN_YIELD_(KG_PER_HA)                   16146 non-null  float64
 65  OILSEEDS_AREA_(1000_HA)                      16146 non-null  float64
 66  OILSEEDS_PRODUCTION_(1000_TONS)              16146 non-null  float64
 67  OILSEEDS_YIELD_(KG_PER_HA)                   16146 non-null  float64
 68  SUGARCANE_AREA_(1000_HA)                     16146 non-null  float64
 69  SUGARCANE_PRODUCTION_(1000_TONS)             16146 non-null  float64
 70  SUGARCANE_YIELD_(KG_PER_HA)                  16146 non-null  float64
 71  COTTON_AREA_(1000_HA)                        16146 non-null  float64
 72  COTTON_PRODUCTION_(1000_TONS)                16146 non-null  float64
 73  COTTON_YIELD_(KG_PER_HA)                     16146 non-null  float64
 74  FRUITS_AREA_(1000_HA)                        16146 non-null  float64
 75  VEGETABLES_AREA_(1000_HA)                    16146 non-null  float64
 76  FRUITS_AND_VEGETABLES_AREA_(1000_HA)         16146 non-null  float64
 77  POTATOES_AREA_(1000_HA)                      16146 non-null  float64
 78  ONION_AREA_(1000_HA)                         16146 non-null  float64
 79  FODDER_AREA_(1000_HA)                        16146 non-null  float64
dtypes: float64(75), int64(3), object(2)
memory usage: 9.9+ MB

In [ ]:
# Save cleaned dataset
#df.to_csv("ICRISAT_cleaned.csv", index=False)
#print("Cleaned dataset saved as 'ICRISAT_cleaned.csv'")

Cleaned dataset saved as 'ICRISAT_cleaned.csv'

In [32]:
# SQL CONNECTION AND UPLOAD

from sqlalchemy import create_engine
import mysql.connector

# --------- CONFIG ---------
db_name = 'agri_data'
table_name = 'agriculture'

mysql_config = {
    'host': 'localhost',
    'user': 'root',       # XAMPP default
    'password': ''        # Set your MySQL password if you have one
}

# --------- STEP 1: CREATE DATABASE IF NOT EXISTS ---------
mydb = mysql.connector.connect(**mysql_config)
mydb.autocommit = True
mycursor = mydb.cursor()
mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")
print(f"Database '{db_name}' checked/created.")
mydb.commit()

Database 'agri_data' checked/created.

In [33]:
# --------- STEP 2: CHECK CSV COLUMNS---------
print(f"CSV loaded. Columns: {list(df.columns)}")

CSV loaded. Columns: ['DIST_CODE', 'YEAR', 'STATE_CODE', 'STATE_NAME', 'DIST_NAME', 'RICE_AREA_(1000_HA)', 'RICE_PRODUCTION_(1000_TONS)', 'RICE_YIELD_(KG_PER_HA)', 'WHEAT_AREA_(1000_HA)', 'WHEAT_PRODUCTION_(1000_TONS)', 'WHEAT_YIELD_(KG_PER_HA)', 'KHARIF_SORGHUM_AREA_(1000_HA)', 'KHARIF_SORGHUM_PRODUCTION_(1000_TONS)', 'KHARIF_SORGHUM_YIELD_(KG_PER_HA)', 'RABI_SORGHUM_AREA_(1000_HA)', 'RABI_SORGHUM_PRODUCTION_(1000_TONS)', 'RABI_SORGHUM_YIELD_(KG_PER_HA)', 'SORGHUM_AREA_(1000_HA)', 'SORGHUM_PRODUCTION_(1000_TONS)', 'SORGHUM_YIELD_(KG_PER_HA)', 'PEARL_MILLET_AREA_(1000_HA)', 'PEARL_MILLET_PRODUCTION_(1000_TONS)', 'PEARL_MILLET_YIELD_(KG_PER_HA)', 'MAIZE_AREA_(1000_HA)', 'MAIZE_PRODUCTION_(1000_TONS)', 'MAIZE_YIELD_(KG_PER_HA)', 'FINGER_MILLET_AREA_(1000_HA)', 'FINGER_MILLET_PRODUCTION_(1000_TONS)', 'FINGER_MILLET_YIELD_(KG_PER_HA)', 'BARLEY_AREA_(1000_HA)', 'BARLEY_PRODUCTION_(1000_TONS)', 'BARLEY_YIELD_(KG_PER_HA)', 'CHICKPEA_AREA_(1000_HA)', 'CHICKPEA_PRODUCTION_(1000_TONS)', 'CHICKPEA_YIELD_(KG_PER_HA)', 'PIGEONPEA_AREA_(1000_HA)', 'PIGEONPEA_PRODUCTION_(1000_TONS)', 'PIGEONPEA_YIELD_(KG_PER_HA)', 'MINOR_PULSES_AREA_(1000_HA)', 'MINOR_PULSES_PRODUCTION_(1000_TONS)', 'MINOR_PULSES_YIELD_(KG_PER_HA)', 'GROUNDNUT_AREA_(1000_HA)', 'GROUNDNUT_PRODUCTION_(1000_TONS)', 'GROUNDNUT_YIELD_(KG_PER_HA)', 'SESAMUM_AREA_(1000_HA)', 'SESAMUM_PRODUCTION_(1000_TONS)', 'SESAMUM_YIELD_(KG_PER_HA)', 'RAPESEED_AND_MUSTARD_AREA_(1000_HA)', 'RAPESEED_AND_MUSTARD_PRODUCTION_(1000_TONS)', 'RAPESEED_AND_MUSTARD_YIELD_(KG_PER_HA)', 'SAFFLOWER_AREA_(1000_HA)', 'SAFFLOWER_PRODUCTION_(1000_TONS)', 'SAFFLOWER_YIELD_(KG_PER_HA)', 'CASTOR_AREA_(1000_HA)', 'CASTOR_PRODUCTION_(1000_TONS)', 'CASTOR_YIELD_(KG_PER_HA)', 'LINSEED_AREA_(1000_HA)', 'LINSEED_PRODUCTION_(1000_TONS)', 'LINSEED_YIELD_(KG_PER_HA)', 'SUNFLOWER_AREA_(1000_HA)', 'SUNFLOWER_PRODUCTION_(1000_TONS)', 'SUNFLOWER_YIELD_(KG_PER_HA)', 'SOYABEAN_AREA_(1000_HA)', 'SOYABEAN_PRODUCTION_(1000_TONS)', 'SOYABEAN_YIELD_(KG_PER_HA)', 'OILSEEDS_AREA_(1000_HA)', 'OILSEEDS_PRODUCTION_(1000_TONS)', 'OILSEEDS_YIELD_(KG_PER_HA)', 'SUGARCANE_AREA_(1000_HA)', 'SUGARCANE_PRODUCTION_(1000_TONS)', 'SUGARCANE_YIELD_(KG_PER_HA)', 'COTTON_AREA_(1000_HA)', 'COTTON_PRODUCTION_(1000_TONS)', 'COTTON_YIELD_(KG_PER_HA)', 'FRUITS_AREA_(1000_HA)', 'VEGETABLES_AREA_(1000_HA)', 'FRUITS_AND_VEGETABLES_AREA_(1000_HA)', 'POTATOES_AREA_(1000_HA)', 'ONION_AREA_(1000_HA)', 'FODDER_AREA_(1000_HA)']

In [34]:

# --------- STEP 3: CONNECT TO MYSQL USING SQLALCHEMY ---------
connection_str = f"mysql+mysqlconnector://{mysql_config['user']}:{mysql_config['password']}@{mysql_config['host']}:3306/{db_name}"
engine = create_engine(connection_str)

In [35]:

# --------- STEP 4: CREATE/REPLACE TABLE AND UPLOAD DATA ---------
df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)
print(f"Data uploaded to '{table_name}' table in '{db_name}' database successfully!")

Data uploaded to 'agriculture' table in 'agri_data' database successfully!